@model Gestor2._0.Data.DB_BASE.Matrimonios

<div class="container">

    <div class="pagetitle">
        <h1>Matrimonios</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="index" asp-controller="Home">Procesos</a></li>
                <li class="breadcrumb-item"><a asp-action="index" asp-controller="Matrimonios">Matrimonios</a></li>
                <li class="breadcrumb-item active">Eliminar</li>
            </ol>
        </nav>
    </div>
    <div class="card">
        <div class="card-body">


            <div>
                <h4>Matrimonios</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.FechaEvento)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.FechaEvento)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Libro)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Libro)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Folio)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Folio)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Nota)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Nota)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.FechaRegistro)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.FechaRegistro)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.NoRegistro)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.NoRegistro)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.IdEsposaNavigation)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IdEsposaNavigation.PrimerApellido)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.IdEsposoNavigation)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IdEsposoNavigation.PrimerApellido)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Eliminar" class="btn btn-danger" /> 

                </form>
            </div>


        </div>
    </div>

    <div>
        <a asp-action="Index" class="btn btn-light">Regresar</a>
    </div>
</div>

